body {
  background-color: #D28E87;
}

p {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

nav {
  background-color: white;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.list {
  display: flex;
  flex-direction: column;
}

.create {
  display: flex;
  flex-direction: column;
}
